.social-login
    button.social-login--github
        a(class="social-login-link",href=routes.gitHub)
            i.fab.fa-github
            .social-login__button__text Github Login
    button.social-login--facebook
        a(class="social-login-link",href=routes.facebook)
            i.fab.fa-facebook-square
            .social-login__button__text Facebook Login