.record-container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  video {
    max-width: 320px;
    background-color: $black;
    margin-bottom: 10px;
  }
  button {
    width: 100%;
    height: 40px;
    max-width: 310px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid $comfort-blue;
    font-size: 15px;
    font-weight: 600;
    color: $comfort-blue;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: $comfort-blue;
      color: white;
    }
  }
}
