.videoPlayer {
  position: relative;
  min-width: 430px;
  max-width: 1000px;
  &:hover {
    .videoPlayer__controllers {
      opacity: 1;
    }
  }
  video {
    width: 100%;
    height: auto;
    padding: 0px 10px 0px 10px;
  }
  .videoPlayer__controllers {
    opacity: 0;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    left: 2.5%;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
    .videoPlayer__left__controllers {
      display: flex;
      flex-direction: row;
    }
    .videoPlayer__controllers__column {
      i {
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
        &:hover {
          color: rgba(255, 255, 255, 1);
        }
        &:active {
          color: rgba(255, 255, 255, 0.8);
        }
      }
      &:not(:last-child) {
        margin-left: 5px;
        margin-right: 10px;
      }
    }
  }
}
