mixin videoPlayer(video={})
    .videoPlayer#jsVideoPlayer
        video(src=video.src.match(/http/) ? video.src : `/${video.src}`)
        .videoPlayer__controllers
            .videoPlayer__left__controllers
                .videoPlayer__controllers__column
                    span#jsPlayButton
                        i.fas.fa-play
                .videoPlayer__controllers__column
                    span
                        i.fas.fa-volume-up
                .videoPlayer__controllers__column
                    span
                        | 00:00 / 10:00
            .videoPlayer__right__controllers
                .videoPlayer__controllers__column
                    sapn
                        i.fas.fa-expand