@import url(https://fonts.googleapis.com/css2?family=Gugi&display=swap);html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  all: unset;
  cursor: pointer; }

*,
input {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

input {
  border: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }
  input:focus, input:active {
    outline: none; }

.profile__avatar {
  height: 80px;
  width: 80px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%; }

html,
body {
  height: 100%; }

body {
  background-color: #f9f9f9;
  color: #343434;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  min-width: 470px; }

main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
  min-height: 70vh; }

a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end; }
  a button {
    all: unset;
    padding-right: 15px;
    display: block;
    padding: 10px 10px 10px 10px;
    border: 2px solid #396ec4;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    color: #396ec4;
    font-weight: 600; }
    a button:hover {
      background-color: #396ec4;
      color: white; }

.header {
  background-color: white; }
  .header .header__wrapper {
    padding: 5px 0px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .header .header__wrapper .header__column {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .header .header__wrapper .header__column a {
        text-decoration: none;
        color: #343434; }
        .header .header__wrapper .header__column a i {
          color: #ff0000;
          font-size: 30px; }
        .header .header__wrapper .header__column a .header__text {
          margin-left: 5px;
          margin-bottom: 5px;
          font-family: "Gugi", cursive;
          font-size: 30px;
          font-weight: 600;
          letter-spacing: -2px; }
      .header .header__wrapper .header__column:nth-child(2) {
        width: 100%;
        justify-self: center; }
      .header .header__wrapper .header__column:last-child {
        justify-self: end; }
      .header .header__wrapper .header__column ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        font-weight: 600;
        text-transform: uppercase; }
        .header .header__wrapper .header__column ul li {
          margin-right: 15px; }
      .header .header__wrapper .header__column form {
        width: 100%;
        outline: solid 1px;
        outline-color: rgba(0, 0, 0, 0.3); }
        .header .header__wrapper .header__column form input {
          padding: 5px 10px;
          width: 100%;
          font-size: 15px; }
          .header .header__wrapper .header__column form input::-webkit-input-placeholder {
            font-weight: 300; }
          .header .header__wrapper .header__column form input:-moz-placeholder {
            font-weight: 300; }
          .header .header__wrapper .header__column form input::-moz-placeholder {
            font-weight: 300; }
          .header .header__wrapper .header__column form input:-ms-input-placeholder {
            font-weight: 300; }
          .header .header__wrapper .header__column form input::-ms-input-placeholder {
            font-weight: 300; }
          .header .header__wrapper .header__column form input::placeholder {
            font-weight: 300; }

.footer {
  margin-top: 40px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .footer .footer__icon {
    color: rgba(0, 0, 0, 0.45);
    font-size: 35px;
    margin-bottom: 15px; }
  .footer .footer__text {
    color: rgba(0, 0, 0, 0.45);
    text-transform: uppercase;
    font-weight: 600; }

.form-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-container form {
    width: 100%;
    max-width: 350px;
    background-color: white;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    padding: 20px 20px; }
    .form-container form input {
      display: block;
      background-color: white;
      width: 100%;
      font-size: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 5px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      color: #343434; }
      .form-container form input:not(:last-child) {
        margin-bottom: 25px; }
      .form-container form input::-webkit-input-placeholder {
        margin-left: 4px; }
      .form-container form input:-moz-placeholder {
        margin-left: 4px; }
      .form-container form input::-moz-placeholder {
        margin-left: 4px; }
      .form-container form input:-ms-input-placeholder {
        margin-left: 4px; }
      .form-container form input::-ms-input-placeholder {
        margin-left: 4px; }
      .form-container form input::placeholder {
        margin-left: 4px; }
      .form-container form input:focus-within {
        outline: 1px solid #ff0000; }
      .form-container form input:hover {
        border-bottom: 1px solid #ff0000; }
    .form-container form input[type="submit"] {
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px;
      border: 2px solid #f22c2c;
      background-color: white;
      font-weight: 600;
      color: #f22c2c;
      -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
         -moz-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
              box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
      outline: none;
      cursor: pointer; }
      .form-container form input[type="submit"]:hover {
        background-color: #f22c2c;
        color: white; }
  .form-container .form-container__link {
    font-weight: 600;
    color: #396ec4; }
    .form-container .form-container__link:hover {
      color: #eb4a39; }

.social-login {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .social-login button {
    width: 100%;
    max-width: 230px;
    height: 35px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0px 0px 0px 0px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
    font-weight: 600;
    outline: none; }
    .social-login button:not(:last-child) {
      margin-bottom: 15px; }
    .social-login button a {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100%; }
      .social-login button a i {
        margin-right: 5px;
        font-size: 25px; }
      .social-login button a .social-login__button__text {
        margin-top: 5px;
        font-size: 15px; }
  .social-login .social-login--github {
    border: 2px solid #343434;
    background-color: white; }
    .social-login .social-login--github a {
      color: #343434;
      margin-bottom: 0; }
    .social-login .social-login--github:hover {
      background-color: #343434; }
      .social-login .social-login--github:hover a {
        color: white; }
  .social-login .social-login--facebook {
    border: 2px solid #3a579b;
    background-color: white; }
    .social-login .social-login--facebook a {
      color: #3a579b;
      margin-bottom: 0; }
    .social-login .social-login--facebook:hover {
      background-color: #3a579b; }
      .social-login .social-login--facebook:hover a {
        color: white; }
  .social-login .social-login--kakao {
    border: 2px solid #ffdd00;
    background-color: white; }
    .social-login .social-login--kakao a {
      color: #181600;
      margin-bottom: 0; }
    .social-login .social-login--kakao:hover {
      background-color: #ffdd00; }

.videoBlock:hover {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); }

.videoBlock a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #343434; }
  .videoBlock a video {
    max-width: 100%; }
  .videoBlock a .videoBlock__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 10px 10px 10px 10px; }
    .videoBlock a .videoBlock__info .videoBlock__title {
      font-size: 20px;
      font-weight: 600; }
    .videoBlock a .videoBlock__info .videoBlock__views {
      padding-top: 5px;
      font-size: 15px; }

.videoPlayer {
  position: relative;
  min-width: 430px;
  max-width: 1000px; }
  .videoPlayer video {
    width: 100%;
    height: auto;
    padding: 0px 10px 0px 10px; }
  .videoPlayer .videoPlayer__controllers {
    opacity: 0;
    -webkit-transition: opacity 0.4s linear;
    -o-transition: opacity 0.4s linear;
    -moz-transition: opacity 0.4s linear;
    transition: opacity 0.4s linear;
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 5px;
    left: 2.5%;
    width: 95%;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 16px; }
    .videoPlayer .videoPlayer__controllers:hover {
      opacity: 1; }
    .videoPlayer .videoPlayer__controllers .videoPlayer__left__controllers {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; }
    .videoPlayer .videoPlayer__controllers .videoPlayer_volumeControl {
      opacity: 0;
      -webkit-transition: width 0.3s, opacity 0.3s linear;
      -o-transition: width 0.3s, opacity 0.3s linear;
      -moz-transition: width 0.3s, opacity 0.3s linear;
      transition: width 0.3s, opacity 0.3s linear;
      width: 0;
      cursor: pointer;
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px;
      height: 5px; }
    .videoPlayer .videoPlayer__controllers .videoPlayer__controllers__column {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .videoPlayer .videoPlayer__controllers .videoPlayer__controllers__column i {
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer; }
        .videoPlayer .videoPlayer__controllers .videoPlayer__controllers__column i:hover {
          color: white; }
        .videoPlayer .videoPlayer__controllers .videoPlayer__controllers__column i:active {
          color: rgba(255, 255, 255, 0.8); }
      .videoPlayer .videoPlayer__controllers .videoPlayer__controllers__column:not(:last-child) {
        margin-left: 5px;
        margin-right: 10px; }
      .videoPlayer .videoPlayer__controllers .videoPlayer__controllers__column:nth-child(2):hover .videoPlayer_volumeControl {
        opacity: 1;
        width: 100%; }
      .videoPlayer .videoPlayer__controllers .videoPlayer__controllers__column:nth-child(2):hover #jsVolumeButton {
        margin-right: 5px; }
      .videoPlayer .videoPlayer__controllers .videoPlayer__controllers__column:last-child {
        margin-right: 5px; }

@-webkit-keyframes blinker {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0.1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@-moz-keyframes blinker {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0.1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@-o-keyframes blinker {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0.1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

@keyframes blinker {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 0.1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.record-container {
  width: 100%;
  max-width: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px; }
  .record-container video {
    max-width: 320px;
    background-color: #343434;
    margin-bottom: 10px; }
  .record-container button {
    width: 100%;
    height: 40px;
    max-width: 310px;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    outline: none;
    cursor: pointer; }
  .record-container .button-preRecoding {
    background-color: white;
    border: 2px solid #396ec4;
    color: #396ec4; }
    .record-container .button-preRecoding:hover {
      background-color: #396ec4;
      color: white; }
  .record-container .button-inRecoding {
    background-color: white;
    border: 2px solid #f22c2c;
    color: #f22c2c;
    -webkit-animation-name: blinker;
       -moz-animation-name: blinker;
         -o-animation-name: blinker;
            animation-name: blinker;
    -webkit-animation-duration: 2s;
       -moz-animation-duration: 2s;
         -o-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }
    .record-container .button-inRecoding:hover {
      background-color: #f22c2c;
      color: white; }

.home-videos {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 0px 10px 0px 10px; }

@media screen and (max-width: 900px) {
  .home-videos {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 20px; } }

@media screen and (max-width: 680px) {
  .home-videos {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-gap: 20px; } }

.video-detail__container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .video-detail__container .video__info {
    width: 100%;
    padding: 15px 20px 25px 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 1000px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
       -moz-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    background-color: white;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px; }
    .video-detail__container .video__info .info--header {
      margin: 10px 10px 10px 10px;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
         -moz-box-orient: horizontal;
         -moz-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
      .video-detail__container .video__info .info--header .info--header__main {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .video-detail__container .video__info .info--header .info--header__main .video__author {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          padding: 0px 0px 5px 2px;
          margin-bottom: 5px;
          font-size: 15px;
          font-weight: 500; }
          .video-detail__container .video__info .info--header .info--header__main .video__author a {
            margin-left: 5px;
            font-weight: 600;
            color: #396ec4; }
      .video-detail__container .video__info .info--header .video__title {
        all: unset;
        padding: 5px 0px 5px 0px;
        margin-bottom: 5px;
        font-size: 30px;
        font-weight: 600; }
      .video-detail__container .video__info .info--header .video__editBtn {
        margin-bottom: 10px;
        height: 40px; }
    .video-detail__container .video__info .video__views {
      margin: 0px 10px 10px 15px;
      font-size: 20px; }
    .video-detail__container .video__info .video__description {
      margin: 10px 10px 10px 15px;
      font-size: 20px; }
  .video-detail__container .video__comments {
    margin: 20px 10px 20px 10px;
    font-size: 20px; }

.form-container textarea {
  width: 100%;
  height: 250px;
  resize: vertical;
  margin-bottom: 10px;
  font-size: 15px;
  border: none; }

.form-container__link {
  margin-top: 15px; }
  .form-container__link button.delete {
    padding: 10px 20px 10px 20px;
    border: 2px solid #343434;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    color: #343434;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1); }
    .form-container__link button.delete:hover {
      color: white;
      background-color: #343434; }

.fileUpload {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .fileUpload label {
    width: 40%;
    font-weight: 500;
    font-size: 15px;
    color: #757575;
    padding: 20px 5px 10px 5px; }

.user-profile {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .user-profile .user-profile__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
    .user-profile .user-profile__header .profile__username {
      margin-top: 10px;
      font-size: 15px;
      font-weight: 600; }
  .user-profile .user-profile__btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .user-profile .user-profile__btns a {
      margin-bottom: 15px; }
