$red: #ff0000;
$comfort-red: #eb4a39;
$dark-red: #f22c2c;
$grey: #757575;
$light-grey: rgba(
  $color: #000000,
  $alpha: 0.3,
);
$black: #343434;
$background: #f9f9f9;
$facebook-blue: #3a579b;
$comfort-blue: #396ec4;
$kakao-yellow: #ffdd00;
$kakao-black: rgb(24, 22, 0);
$message-error: #f39c12;
$message-info: #2ecc71;
$message-success: #2980b9;
